<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONTACTO</title>
    <!-- linkear archivo externo css -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
      <!-- LINKEAR FONTS DE GOOGLE -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <!-- linkear archivo externo css -->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<!-- inicio encabezado -->
 	<header>
 		<!-- LOGO -->
        <div class="header__logo">
           <img src="../assets/img/logo.png" alt="logo">
        </div>
      <!-- cierre logo -->
 		<div>
 			 <!-- CONTENEDOR GENERICO EN LINEA -->
       <section class="contacto">
            <article>
               <p><b>CONTACTO</b></p>
            </article>
         </section>
      </div>
 		<!-- apertura nav -->
 		<nav>
      <!-- lista con viñetas -->
 			<ul class="header__nav nav--background">
            <li class="nav__item nav__item--background"><a href="../index.html">INICIO</a></li>  
            <li class="nav__item nav__item--background"><a href="tienda.html">TIENDA</a></li>
            <li class="nav__item nav__item--background"><a href="contacto.html">CONTACTO</a></li>  
            <li class="nav__item nav__item--background"><a href="politica.html">POLITICA DE CAMBIO</a></li>
            <li class="nav__item nav__item--background"><a href="cuidados.html">COMO CUIDAR TU HZ</a></li> 
         </ul>
 		</nav>
      <!-- cierre de nav -->
 	</header>
      <!-- cierre encabezado -->
      <!-- apertura contenido -->
 		<main>
 			<div>
            <h3>A continuación te dejamos los siguientes medios de comunicaión</h3>
            <h4>Seguinos en nuestras redes sociales:</h4>
            <div>
            <a href="https://www.instagram.com/hz.bsas/?utm_medium=copy_link" target="_blank"><img src="../assets/img/instagram.png" alt="instagram"></a>
             <img src="../assets/img/facebook.png" alt="facebook">
             </div>
            <h4>Email:</h4>
            <h5>hz2021@gmail.com</h5>
            <h4>Telefono:</h4>
            <img src="../assets/img/wpp.png" alt="whatsapp">
 			</div>
 			<!-- Formulario de contacto-->
          <form action="">
             <div>
                <h4>Para más información dejanos tu mensaje:</h4>
             </div>
             <div>
               
               <input type="text" placeholder="Nombre" required>
             </div>
             <div>
                <textarea name="" id="" cols="30" rows="10" required></textarea>
             </div>
             <input type="submit" value="ENVIAR">
          </form>  
 		</main>
 		<!-- cierre contenido -->
      <!-- inicio footer -->
 		<footer class="background-beige">
         <!-- redes sociales -->
         <div>
 			  <h5>REDES SOCIALES</h5>
         </div>
         <div>
            <a href="https://www.instagram.com/hz.bsas/?utm_medium=copy_link" target="_blank"><img src="../assets/img/instagram.png" alt="redes"></a>
             <img src="../assets/img/facebook.png" alt="facebook">
             </div>
         <div class="footerFoto">
               <img src="../assets/img/footer.png" alt="pie" class="fotoFinal">
            </div>
 		</footer>
 	   <!-- cierre footer -->
</body>
</html>