<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMO CUIDAR TU HZ</title>
   <!-- linkear archivo externo css -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
      <!-- LINKEAR FONTS DE GOOGLE -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <!-- linkear archivo externo css -->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<!-- inicio encabezado -->
 	<header>
 		<!-- LOGO -->
        <div class="header__logo">
           <img src="../assets/img/logo.png" alt="logo">
        </div>
      <!-- cierre logo -->
 		<div>
 			 <!-- CONTENEDOR GENERICO EN LINEA -->
        <section class="comoCuidar">
            <article>
               <p><b>COMO CUIDAR TU HZ</b></p>
            </article>
         </section>
 		</div>
 		<!-- apertura nav -->
 		<nav>
      <!-- lista con viñetas -->
 			<ul class="header__nav nav--background">
            <li class="nav__item nav__item--background"><a href="../index.html">INICIO</a></li>  
            <li class="nav__item nav__item--background"><a href="tienda.html">TIENDA</a></li>
            <li class="nav__item nav__item--background"><a href="contacto.html">CONTACTO</a></li>  
            <li class="nav__item nav__item--background"><a href="politica.html">POLITICA DE CAMBIO</a></li>
            <li class="nav__item nav__item--background"><a href="cuidados.html">COMO CUIDAR TU HZ</a></li> 
         </ul>
 		</nav>
      <!-- cierre de nav -->
 	</header>
      <!-- cierre encabezado -->
      <!-- apertura contenido -->
 		<main>
         <section class="cuidados">
            <article>
               <h4>Cómo cuidar tu HZ</h4>
         <p>Lavar a mano con agua fría y jabón neutro.</p>
         <p>Guardalo dado vuelta.</p>
         <p><b>¡IMPORTANTE!</b></p>
         <p>El lavado seguido puede afectar los colores de tu producto.</p>
            </article>
         </section>
 		</main>
 		<!-- cierre contenido -->
      <!-- inicio footer -->
 		<footer class="background-beige">
         <!-- redes sociales -->
         <div>
           <h5>REDES SOCIALES</h5>
         </div>
          <div>
            <a href="https://www.instagram.com/hz.bsas/?utm_medium=copy_link" target="_blank"><img src="../assets/img/instagram.png" alt="redes"></a>
             <img src="../assets/img/facebook.png" alt="facebook">
             </div>
          <div class="footerFoto">
               <img src="../assets/img/footer2.png" alt="pie" class="fotoFinal">
         </div>
 		</footer>
 	   <!-- cierre footer -->
</body>
</html>