<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TIENDA</title>
    <!-- linkear archivo externo css -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
      <!-- LINKEAR FONTS DE GOOGLE -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <!-- linkear archivo externo css -->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<!-- inicio encabezado -->
 	<header>
 		<!-- LOGO -->
        <div class="header__logo">
           <img src="../assets/img/logo.png" alt="logo">
        </div>
      <!-- cierre logo -->
      <div class="conteiner">
     <div class="row">
        <div class="col-lg-12">
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <div class="container-fluid">
           <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
          <span class="navbar-toggler-icon"></span>
           </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav__item nav__item nav--background" ><a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
         </li>
         <li class="nav__item nav__item nav--background"><a class="nav-link" href="tienda.html">TIENDA</a></li>
          <li class="nav__item nav__item nav--background"><a class="nav-link" href="contacto.html">CONTACTO</a></li>
          <li class="nav__item nav__item nav--background"><a class="nav-link" href="politica.html">POLITICA DE CAMBIO</a></li>
          <li class="nav__item nav__item nav--background"><a class="nav-link" href="cuidados.html">COMO CUIDAR TU HZ</a></li>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <!-- <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li> -->
            <li><hr class="dropdown-divider"></li>
          </ul>
         </ul>
         <form class="d-flex">
         </form>
        </div>
        </div>
      </nav>
        </div>
     </div>
     </div>
     </div> 
   </div>
 		<div>
 			 <!-- CONTENEDOR GENERICO EN LINEA -->
        <section class="tienda">
            <article>
               <p><b>TIENDA</b></p>
            </article>
         </section>
      </div>
 	</header>
      <!-- cierre encabezado -->
      <!-- apertura contenido -->
 		<main>
         <a href="" class="btn-vendido">Lo más vendido</a>

     <div class="d-grid"> 
          <article class="izq">
               <img src="../assets/img/blusavalentina.png" alt="blusa" class="blusaValentina">
               <h5>Blusa Valentina Negra</h5>
               <h6> $2.490</h6>
          </article>
          <article class="der">
               <img src="../assets/img/sweaterlondres.png" alt="sweater" class="sweaterLondres">
               <h5> Sweater Londres Negro</h5>
               <h6> $4.990</h6>
          </article>
          <article class="izq2"> 
               <img src="../assets/img/blusasofia.png" alt="blusasofia" class="blusaSofia">
               <h5>Blusa Sofia Beige</h5>
               <h6> $2.590</h6> 
          </article>
          <article class="der2">
               <img src="../assets/img/sweaterlisboa.png" alt="sweaterlisboa" class="sweaterLisboa"> 
               <h5>Sweater Lisboa Blanco</h5>
               <h6> $3.490</h6>
          </article>
     </div> 
        
         
         <div>
            <input type="button" value="Ver más" class="btn">
         </div>
 		</main>
 		<!-- cierre contenido -->
      <!-- inicio footer -->
 		<footer class="foo">
         <!-- redes sociales -->
         <div>
           <h5>REDES SOCIALES</h5>
         </div>

         <div class="gridFooter">
            <article class="footerIzq">
             <a href="https://www.instagram.com/hz.bsas/?utm_medium=copy_link" target="_blank"><img src="../assets/img/instagram.png" alt="redes"></a>
            </article>
            <article class="footerDer">
             <img src="../assets/img/facebook.png" alt="facebook">
            </article>
         </div>

          <div class="footerFoto">
               <img src="../assets/img/footer2.png" alt="pie" class="fotoFinal">
         </div>
 		</footer>
 	   <!-- cierre footer -->
     </div>
</body>
</html>